MT_G_db_type="'mysqli'"
MT_G_hostname="'mysql'"
MT_G_db_username="'${MYSQL_USER}'"
MT_G_db_password="'${MYSQL_PASSWORD}'"
MT_G_database_name="'${MYSQL_DATABASE}'"
MT_G_default_timezone="'${MANTIS_TIMEZONE}'"
MT_G_crypto_master_salt="'${MANTIS_CRYPTO_MASTER_SALT}'"
MT_G_allow_signup=OFF
MT_G_allow_anonymous_login=OFF
MT_G_anonymous_account="''"

# Email Settings

# Webmaster email address. This is shown publicly at the bottom of each page
# and thus may be susceptible to being detected by spam email harvesters.
# @global string $g_webmaster_email
MT_G_webmaster_email="'webmaster@mt.local'"

# the sender email, part of 'From: ' header in emails
# @global string $g_from_email
MT_G_from_email="'noreply@mt.local'"

# the sender name, part of 'From: ' header in emails
# @global string $g_from_name
MT_G_from_name="'Mantis Bug Tracker'"

# the return address for bounced mail
# @global string $g_return_path_email
MT_G_return_path_email="'admin@mt.local'"

# Allow email notification.
# Set to ON to enable email notifications, OFF to disable them. Note that
# disabling email notifications has no effect on emails generated as part
# of the user signup process. When set to OFF, the password reset feature
# is disabled. Additionally, notifications of administrators updating
# accounts are not sent to users.
# @global integer $g_enable_email_notification
MT_G_enable_email_notification=OFF

# When enabled, the email notifications will send the full issue with
# a hint about the change type at the top, rather than using dedicated
# notifications that are focused on what changed.  This change can be
# overridden in the database per user.
#
# @global integer $g_email_notifications_verbose
MT_G_email_notifications_verbose=ON

# Attachments

MT_G_allow_file_upload=ON
MT_G_file_upload_method=DATABASE
MT_G_max_file_size=${UPLOAD_MAX_FILE_SIZE}
MT_G_file_upload_max_num=3
MT_G_preview_attachments_inline_max_size=10*1024*1024


# access level needed to assign bugs to unreleased product versions
# @global integer
MT_G_report_issues_for_unreleased_versions_threshold=REPORTER
